.imgItemDetail{
    margin-top: 2%;
    margin-bottom: 2%;
}

.descriptionItemDetail, .priceItemDetail, .nameItemDetail{
    font-family: fantasy;
}

.priceItemDetail{
    font-size: large;
}

.nameBurger{
    font-family: sans-serif;
}