.h2Form{
    display: flex;
    justify-content: center;
    padding: 5% 0% 2% 0% ;
    font-weight: bold;
}

.divForm{
    display: flex;
    justify-content: center;
    padding: 2% 0% 0% 0%;
}

.form-control{
    margin: 20px 0px 10px 0px;
}

.inputMensaje{
    margin: 30px 0px 0px 0px;
    font-size: medium;
    font-weight: bold;
    height: 220px;
    background-image: url(../../../public/img/imgForm.png);
    background-size: cover;
}

.btnEnviar{
    margin: 15px;
    background-color: black;
    width: 90%;
    font-weight: bold;
}


