
.divProdItemList{
    margin-top: 5%;
}

.btnItemList{
    margin-top: 3%;
    font-weight: 600;
}

.nameItemList{
    font-family: fantasy;
    font-size: x-large;
}

.todosProductos{
    font-size: xx-large;
    font-weight: bolder;
}

